@mixin shrinkLabel {
  top: -0.6*$smallsize;
  left: 0;
  font-size: $smallsize;
  color: $teal;
  text-transform: capitalize;
  z-index: 5;
  background-color: white;
}

.input-text-block {
  position: relative;
  margin: $smallsize 0;

  &__input {
    color: black;
    padding: $minisize;
    font-size: $smallsize;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $teal;
    letter-spacing: 0.15*$minisize;

    &:focus {
      outline: none;
      border: 1px solid $teal;
      border-radius: 0.5*$minisize;
    }
  }

  input[type='password'] {
    letter-spacing: 0.5*$minisize;
  }

  &-shirnk__label {
    color: $grey;
    font-size: 0.8*$smallsize;
    position: absolute;
    pointer-events: none;
    left: $minisize;
    top: 0.7*$smallsize;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
  &__label {
    position: absolute;
    font-size: $smallsize;
    color: $teal;
    text-transform: capitalize;
    top: -0.5*$smallsize;
    background-color: white;
    font-weight: bold;
  }
  &-required-icon{
    color:red;
    right: $minisize;
    top: 0.7*$smallsize;
    position: absolute;
    font-size: 1.3*$smallsize;
  }
}