.form__button {
    min-width: $supersize;
    width: auto;
    line-height: $biggersize;
    padding: 0 $bigsize;
    background-color: $teal;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    margin: $minisize 0 $minisize  $minisize;
    float: right;
    color: white;

    &:hover {
      opacity: 0.6;
    }
  }

  .red{
    background-color: red;
  }

  .gold{
    background-color: $gold;
  }