.view-history{
    &-header{
        margin-top: $bigsize;
        margin-bottom: $minisize;
        font-weight: bold;
        &__span{
            cursor: pointer;
            font-style: italic;
            float: right;
            padding: 0 $minisize;
            color: $seagreen;
            &:hover{
                text-decoration:underline;
                color: $teal;
            }
        }
    }
    &-posts{
        background-color: $lightgrey;
        padding: $minisize;
        border-radius: $minisize;
        max-height: 7*$supersize;
        overflow-y: auto;
    }
}