/* Define standard variables and values for website */
$ivory: #fffff0;
$seagreen: #20b2aa;
$teal: #008080;
$gold: #ffd700;
$lightgold: #ffe140;
$grey:grey;
$lightgrey: rgb(249, 249, 249);
$minisize: 0.6rem;
$smallsize: 1rem;
$middlesize: 1.8rem;
$bigsize: 2.4rem;
$biggersize:3rem;
$supersize:3.6rem;
$boxshadow: 0 $minisize $smallsize 0 rgba(0, 0, 0, 0.2), 0 $smallsize $middlesize 0 rgba(0, 0, 0, 0.19);
