.post-block{
    margin: 1vw 10vw 1vw 10vw;
  
    &-display{
        display: grid;
        grid-gap: 10px;
    }
    &-display-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    &-display-item-container{
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 19, 19);
        border: 1px solid red;
        border-radius: 5px;
        padding: 25px;
        cursor: pointer;
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.25s ease-out;
    }
    &-display-item-container:hover{
        transform: scale(1.02);
    }

    &-post-types-block__div{
        padding: 10px 0;
    }

    &-post-types-radio__div{
        display: inline;
    }


    &-display-option{
        text-align: right;
        padding: 10px 0;
    }
}

