.open-posts-icon{
    background-color: $gold;
    display: -webkit-inline-box;
    border-radius: 50%;
    vertical-align: bottom;
    
    &-num{
        min-height: $minisize+$smallsize;
        min-width: $minisize+$smallsize;
        border-radius: 50%;
        margin: 0.5*$minisize;
        padding: 0.5*$minisize;
        font-size: 0.8*$smallsize;
        text-align: center;
        background-color: white;
    }
    
    &:hover .open-posts-dropdown{
        display: flex;
    }
}