.single-choice-block{
    padding: $minisize 0;
    &__radio_input{
        display: inline;
        padding-right: $minisize;
    }
    &__label {
        font-size: $smallsize;
        color: $teal;
        text-transform: capitalize;
        background-color: white;
        font-weight: bold;
        display: block;
        margin-bottom: $minisize;
      }
    &-required-icon{
        float: right;
        color:red;
        padding-right: $minisize;
        font-size: 1.3*$smallsize;
    }
}
