// @import '../../index.scss'


.header{
    // font-size: calc(10px + 2vmin);
    background-color: white;
    margin:0;
    position: relative;

    &-logo__img{
        height: 2.3rem;
        margin-left: 0.5rem;
        margin-top:0.5rem;
    }
    &-main-menu__span{
        display: inline;
        float: right;
        position:absolute;                  
        bottom:0.7rem;                          
        right:0; 
        font-size: 0.9rem;
        cursor: pointer;
    }
    &-main-menu-item{
        padding: 0.8rem;
    }
}