.header{
    // font-size: calc(10px + 2vmin);
    margin:0;
    position: relative;
    color: $seagreen;

    &-logo__img{
        height: $bigsize;
        margin-left: $minisize;
        margin-top:$minisize;
    }

    &-main-menu{
        display: inline;
        text-align: right;
        position:absolute;                  
        bottom:$minisize;                          
        right:0; 
        cursor: pointer;
    }
    &-main-menu-item{
        display: inline;
        padding: $minisize;
    }
}