.open-posts-dropdown {
    position: absolute;
    display: flex;
    width: 10*$supersize;
    flex-direction: column;
    box-shadow: $boxshadow;
    background-color: white;
    margin-top: $minisize;
    right: $smallsize;
    z-index: 5;
    color:$teal;

    visibility: hidden;
    transition: visibility 0.3s;

    &-items {
      max-height: 7*$supersize;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
    &-item{
      padding: $minisize $smallsize;
      &:hover{
        background-color:$gold;
        color:white;
      }
    }
  }
  