.posts-display-item{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 0.5*$minisize;
    padding: $minisize $smallsize;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
    &-title{
        font-weight: bold;
    }

    &:hover{
        transform: scale(1.02);
    }
    &-tabs{
        &-item{
            display: inline;
            padding-right: $smallsize;
            color:$grey;
        }
    }
}