.posts-page{
    margin: 1vw 10vw 1vw 10vw;
  
    &-display{
        display: grid;
        grid-gap: 10px;
    }

    &-display-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    &-display-option{
        text-align: right;
        padding: 10px 0;
    }
}

