.search-block{
    position: relative;

    &__icon{
        position: absolute;
        font-size: 1.3*$smallsize;
        bottom:0.5*$minisize;
        left:$minisize;

    }
    
    &__label {
        font-size: $smallsize;
        color: $teal;
        text-transform: capitalize;
        background-color: white;
        font-weight: bold;
        display: block;
        margin-bottom: $minisize;
      }

    &__input{
        display: flex;
        border: none;
        padding: $minisize $minisize $minisize $bigsize;
        width: 100%;
        background-color: $lightgrey;
        border-radius: $minisize;
        font-size: 1rem;
        &:focus{
            outline-color: $gold;
        }
    }
}