.search__input{
    border: none;
    padding: 7px 7px;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 1.3vw;
}
  
.search__input:focus{
    outline-color: gold;
}